@*
   Vista parcial tipo animales
*@

<style>
    .tipoAnimales{
        border: solid 1px #aaa;
        border-radius: 10px;
        padding: 12px;
    }
        .tipoAnimales .animales{
            display: inline-block;
            float: left;
            max-width: 200px;
            font-size: 12px;
        }
    .clearer {
        clear: both;
    }
</style>

<div class="tipoAnimales">
    <p>Tipos de animal</p>
    <div class="animales m-2">
        <h4>Gatos</h4>
        <p>
            Los gatos son animales independientes y cariñosos que suelen ser excelentes compañeros.
        </p>
    </div>
    <div class="animales m-2">
        <h4>Perros</h4>
        <p>
            Los perros son mascotas leales y cariñosas que a menudo se consideran parte de la familia.
        </p>
    </div>
    <div class="animales m-2">
        <h4>Conejos</h4>
        <p>
            Los conejos son animales adorables y juguetones que suelen ser excelentes mascotas.
        </p>
    </div>
    <div class="animales m-2">
        <h4>Hamsters</h4>
        <p>
            Los hámsters son pequeños roedores que a menudo se mantienen como mascotas en jaulas.
        </p>
    </div>
    <div class="clearer"></div>
</div>